ul{
    margin-left: 10%; 
    width: 90%;
}
li{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    text-decoration: none;
}
.end{
    float: right;
    text-align: right;
}
.email-block{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    text-decoration: none;
}