  <html>
      <body>
        <div style="margin-left:15%;padding:1px 16px;height:1000px;">
            <H3>Submission received</H3>
            <h6>WVUeCampus@wvu.edu</h6>
<span class="response-buttons">       
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Reply
</button></span>
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Forward
</button>


<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Submission received</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        This is where a form will be to type reply
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Send</button>
        
      </div>
    </div>
  </div>
</div>
</div>
      </body>
