<html><link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css"> 
<body>
  
<ul >
  <span class="align-items-baseline">
  <li class="back-button"><i class="bi bi-arrow-left-short"></i></li>
  
  <li class="topbar-buttons"><i class="bi bi-box-arrow-in-down"></i></li>
  <li class="topbar-buttons"><i class="bi bi-exclamation-octagon"></i></li>
  <li class="topbar-buttons"><i class="bi bi-trash3"></i></li>
  <li class="seperation-bar">|</li>
  <li class="topbar-buttons"><i class="bi bi-envelope"></i></li>
  <li class="topbar-buttons"><i class="bi bi-clock"></i></li>
  <li class="topbar-buttons"><i class="bi bi-check2-circle"></i></li>
  <li class="seperation-bar">|</li>
  <li class="topbar-buttons"><i class="bi bi-folder-symlink"></i></li>
  <li class="topbar-buttons"><i class="bi bi-tag"></i></li>
  <li class="topbar-buttons"><i class="bi bi-three-dots-vertical"></i></li>
  <li class="right-arrow" routerLink="page2" ><i class="bi bi-chevron-right"></i></li>
  <li class="left-arrow" routerLink=""><i class="bi bi-chevron-left"></i></li>
</span>
</ul>
<hr>

</body>
</html>