
ul {
  list-style-type: none;
  margin-left: 13%;
  padding: 0;
  overflow: hidden;
  background-color: rgb(255, 255, 255);
}

li {
    float: left;
    
}

li a {
  display: block;
  color: rgb(56, 56, 56);
  text-align: center;
  padding: 9px 40px;
  text-decoration: none;
}
li a.active {
  background-color: #8f8f8f;
  color: rgb(39, 39, 39);
}

li a:hover {
  background-color: rgb(131, 120, 120);
  color:rgb(39, 39, 39);
}
.left-arrow{
  float: right;
  text-align: right;
  margin-right: 6px;
}
.right-arrow{
  float: right;
  text-align: right;
  margin-right: 3%;
}
.topbar-buttons {
  font-size: 1.2rem;
  margin-left: 20px;
  margin-top: 6px;
  color: black;
  
}
.seperation-bar{
  font-size: 1.5rem;
  font-weight: 100;
  margin-left: 20px;
  color: rgb(136, 133, 133);
}
.back-button{
  font-size: 1.75rem;
}
hr{
  display:block;
  margin-left: 13%;
  margin-top: -15px;
}
.email-count{
  float: right;
  text-align: right;
}
.topbar-arrow {
  font-size: .75rem;
  margin-left: 9px;
  margin-top: 11px;
  color: black;
  
}