<ul  class="list-group"><link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
  
    <li class="list-group-item" width=100%>
        <a class=email-block >
          <span class="box"><i class="bi bi-app"></i> </span>
          <span class="email-buttons"><i class="bi bi-star"></i> </span>
          <span class="email-buttons"><i class="bi bi-bookmark"></i> </span>
        
      <b style="margin-left: 15px;">{{recipient}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{subject}}</b> {{partOfMessage}} <span class="end">{{time}}</span>
        </a>
    </li>
    
  </ul>