
ul {
  list-style-type: none;
  margin-left: 20%;
  padding: 0;
  overflow: hidden;
  background-color: rgb(233, 227, 227);
}

li {
    float: left;
    
}

li a {
  display: block;
  color: rgb(56, 56, 56);
  text-align: center;
  padding: 9px 40px;
  text-decoration: none;
}

li a:hover {
  background-color: rgb(131, 120, 120);
  color:rgb(39, 39, 39);
}


