<html><link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css"> 
  
  
<body>

<ul>
  
  <button class="compose" ><img src="http://www.gstatic.com/images/icons/material/colored_icons/1x/create_32dp.png"> Compose</button>
   

<div style="margin-top: 0;" class="accordion accordion-flush" id="accordionExample">
  <div class="accordion-item">
    <span class="accordion-header" id="headingOne">
      <button class="chat-section" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        <i class="bi bi-caret-down-fill"></i>
        Mail
    </button>
    </span>
    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <div class="chat-body">
        <li>
          <a routerLink="home" routerLinkActive="active">
            <i class="bi bi-inbox"></i>
            &nbsp;&nbsp;Inbox
          </a>
        </li>
      
        <li>
          <a href="#starred">
            <i class="bi bi-star"></i>
            &nbsp;&nbsp;Starred
          </a>
        </li>
      
        <li>
          <a href="#snoozed">
            <i class="bi bi-clock"></i>
            &nbsp;&nbsp;Snoozed
          </a>
        </li>
      
        <li>
          <a href="#important">
            <i class="bi bi-bookmark-check"></i>
            &nbsp;&nbsp;Important
          </a>
        </li>
        <li>
          <a routerLink="sent-emails" routerLinkActive="active">
            <i class="bi bi-send"></i>
            &nbsp;&nbsp;Sent
          </a>
        </li>
        <li>
          <a href="#drafts">
            <i class="bi bi-file-earmark"></i>
            &nbsp;&nbsp;Drafts
          </a>
        </li>
        <li>
          <a href="#spam">
            <i class="bi bi-exclamation-octagon-fill" ></i>
            &nbsp;&nbsp;Spam
          </a>
        </li>
      </div>
    </div>
  </div>
  <ul>
    <li></li>
  </ul>
