
    body {
      margin: 0;
    }
    ul {
      list-style-type: none;
      padding: 0;
      width: 13%;
      background-color: rgb(255, 255, 255);
      position: fixed;
      height: 100%;   
    }
    li a {
      display: block;
      color: #000;
      padding: 8px 16px;
      text-decoration: none;
}
    li a.active {
      background-color: #ecbbb5;
      color: rgb(199, 31, 31);
    }
    li a:hover {
      background-color: rgb(194, 186, 186);
      color: rgb(0, 0, 0);
    }
    .plus{
      float: right;
    }
    .chat-section{
      width: 100%;
      text-align: left;
      background-color: rgb(255, 255, 255);
      border: none;
      color: rgb(0, 0, 0); 
      font-size: 16px;
      transition: 0.6s;
      cursor: pointer;
    }

    .chat-section:hover {
      background-color: #ffffff;
    }
    .chat-body{
      width: 100%;
      text-align: left;
      background-color: rgb(255, 255, 255);
      color: rgb(0, 0, 0); 
      font-size: 16px;
    }
    .compose{
      border-color: rgb(153, 141, 141);
      margin-top: 20px;
      margin-bottom: 20px;
      margin-left: 18%;
      color:rgb(119, 113, 113);
      border-radius: 25px;
    }